:root {
  --sand: #cdbbad;
  --chocolate: #332411;
}

@font-face {
  font-family: SignikaNegative;
  src: url(/fonts/SignikaNegative-Regular.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(/fonts/Barlow-MediumItalic.ttf);
}

body {
  margin: 0;
  font-family: sans-serif;
}

#landing, #sides {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

#landing {
  background-color: #fdf8f2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#landing h1 {
  color: #655754;
  margin: 0;
}

#landing img {
  width: 30vw;
  box-shadow: none;
  margin: 2rem 0;
}

#chocolate {
  background-color: var(--chocolate);
  color: #fff;
}

h1 {
  font-size: 2.5rem;
  font-family: SignikaNegative, sans-serif;
}

#sand {
  background-color: var(--sand);
}

section {
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel {
  display: block;
  width: 30vw;
  margin-bottom: 5vh;
}

img {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
}

.hide {
  display: none;
}

#chocolate button {
  background-color: #ffdca9;
}

#sand button {
  background-color: #332411;
  color: #fff;
}

#twoColors {
  color: #fff;
  font-family: Barlow, sans-serif;
  text-shadow: 0 0 7px #000, 0 0 10px #000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 7vh;
  font-size: 3rem;
}

#order {
  position: absolute;
  bottom: -85vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem !important;
}

#order, #orderSmall {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: #000;
  font-family: Barlow, sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  transition: all .1s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#smallColors {
  margin-bottom: 3rem;
}

#smallColors, #orderSmall {
  display: none;
}

#order:hover, #orderSmall:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (max-width: 770px) {
  #landing img {
    width: 80vw;
  }

  #landing h1 {
    text-align: center;
    padding: 0 1rem;
    font-size: 2rem;
  }

  #sides {
    flex-direction: column;
  }

  section {
    width: 100vw;
    height: 80vh;
  }

  #twoColors, #order {
    display: none;
  }

  #smallColors, #orderSmall {
    display: block;
  }

  .carousel {
    width: 90vw;
  }
}
